html, body {
  padding: 0;
  margin: 0;
  font: 12px/1.25 "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  color: #777;
  background: #EEE;
}

.layout {
  max-width: 1024px;
}

header {
  margin: 0 0 8px;
  padding: 0px;
  height: 44px;
  background: #CCF;
  background: -webkit-gradient(linear, left top, right bottom, from(#DDD), color-stop(0.5, #CCF), to(#DDD));
  background: -moz-linear-gradient(left top, #DDD, #CCF, #DDD);
  border: none;
  border-bottom: rgba(0, 0, 0, 0.25) solid 1px;
  color: #000;
}

h1 {
  margin: 0;
  padding: 8px;
  font-size: 24px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

h2 {
  margin: 8px 0;
  padding: 0 1em;
  font-size: 1.2em;
  color: #444;
}

hr {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
}

.clear_all {
  clear: both;
}

article {
  margin: 8px 4px;
  padding: 8px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 1px 1px 1px #CCC;
}

@media only screen and (min-width: 375px) {
  article {
    margin-left: 25px;
    margin-right: 25px;
  }
}

input, select, option {
  margin: 1px;
  padding: 2px;
  font-size: 18px;
}

.smalltext {
  font-size: 10px;
}

input[type=number], .number {
  text-align: right;
}

label {
  display: inline-block;
}

input[type='button'], button, .button, .primary_button, .destructive_button {
  display: inline-block;
	white-space: nowrap;
	text-decoration: none;
  vertical-align: baseline;;
  margin: 2px;
  padding: 4px 8px;
  border: rgba(0, 0, 0, 0.25) solid 1px;
  border-radius: 8px;
  cursor: pointer;
}

.button {
  background: #FFF;
  color: #000;
}

.button:hover {
  background: #EEE;
  color: #00F;
}

.primary_button {
  background: #99F;
  color: #FFF;
}

.primary_button:hover {
  background: #AAF;
}

.destructive_button {
  background: #F99;
  color: #FFF;
}

.destructive_button:hover {
  background: #FAA;
}

.card {
  margin: 4px;
  padding: 8px 1em;
  border-top: #CCC dashed 1px;
}

.card_label {
  padding: 0 1em;
  font-size: 16px;
  font-weight: bold;
}

.del_card_btn {
  margin: 0 0 0 24px;
  border-radius: 1em;
}
.del_card_btn, .inc_card_btn, .dec_card_btn {
  padding: 2px 8px;
  font-size: 16px;
  font-weight: bold;
}

nav {
  text-align: center;
}

#alert {
  display: none;
  margin: 4px 8px;
  padding: 4px 8px;
  border: rgba(0, 0, 0, 0.25) solid 1px;
  border-radius: 8px;
  background: #F99;
  color: #FFF;
  font-weight: bold;
}
